/* 480-320  */
@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        padding: 15px 0;
    }
}
/* catalog.html */
@media (max-width: 320px) {
    .card img {
        width: 90%;
    }
     /* contact page */

     .contact_section1 {
        padding: 48px 8px;
        height: 808px;
    }

    .contact_section_div {
        padding-inline: 8px;
    }



    .form_header {
        font-size: 24px;
        line-height: 32px;
    }

    .input_div {
        row-gap: 24px;
    }

    .message_text {
        margin-block: 24px;
    }


}
